// known limitation 1:  has to use absolute path for --outdir: Ex. $PWD/results3
// known limitation 2: EMBOSS-6.6.0 seems to produce different results than 6.4.0. We use 6.4.0
params {
    //required input params, you likely will override them
    srr_list = null // text file with SRR number one in each row
    outdir = "$PWD/results" 
    output_csv = null
    primers = null // 3 column tab delimited primer file

    //these are parameters used in primersearch
    // a 20-bp primer, with mismatchpercent 6% allows 1 mismatch
    mismatchpercent =  6
    max_amplicon_len = 500

    //these are process-specific params
    amplicon_folder = "${params.outdir}/primersearch/amplicon"
    EMBOSS_PRIMERSEARCH_6_4_0 = "/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/T3Pio_Data/library_versions_t3pio/EMBOSS-6.4.0/emboss/primersearch"
}

process {
    executor = 'local'
    cpus = 2
    memory = '4 GB'
    //time = '1h'  
}

process {
    withName: FASTQ_SRR {
        cpus = 4
        maxForks = 4
        memory = '8 GB'
        errorStrategy = 'retry'
        maxRetries = 2
        container = 'https://depot.galaxyproject.org/singularity/sra-tools%3A3.2.0--h4304569_0'
        publishDir = [
            path: "${params.outdir}/fastqs",
            mode: "copy"
        ]
    }

    withName: SHOVILL_ASSEMBLY {
        cpus = 4
        memory = '16 GB'
        maxForks = 4
        errorStrategy = 'retry'
        maxRetries = 2
        container = 'staphb/shovill:latest'
        publishDir = [
            path: "${params.outdir}/assemblies",
            mode: "copy"
        ]
    }

    withName: RUN_PRIMERSEARCH {
        cpus = 2
        memory = '8 GB'
        maxForks = 48
        // container = 'https://depot.galaxyproject.org/singularity/emboss%3A6.6.0--hfb8fa87_10'
        errorStrategy = 'retry'
        maxRetries = 2
        publishDir = [
            path: "${params.outdir}/primersearch",
            mode: "copy"
        ]
    }

    withName: PARSE_PRIMERSEARCH {
        cpus = 2
        memory = '4 GB'
        maxForks = 4
        container = 'https://depot.galaxyproject.org/singularity/biopython%3A1.70--np112py36_1'
        errorStrategy = 'retry'
        maxRetries = 2
        publishDir = [
            //if this path is changed, update params.amplicon_folder accordingly !
            path: "${params.outdir}/primersearch/amplicon",
            mode: "copy"
        ]
    }

    withName: FASTA_TO_JSON {
        cpus = 2
        memory = '4 GB'
        maxForks = 4
        container = 'https://depot.galaxyproject.org/singularity/biopython%3A1.70--np112py36_1'
        errorStrategy = 'retry'
        maxRetries = 2
        publishDir = [
            path: "${params.outdir}/primersearch",
            mode: "copy"
        ]
    }

    withName: runPairwiseRow {
        cpus = 1
        maxForks = 16
        errorStrategy = 'retry'
        maxRetries = 1
        container = 'https://depot.galaxyproject.org/singularity/biopython%3A1.70--np112py36_1'
        publishDir = [
            path: "${params.outdir}/matrix_rows",
            mode: "copy"
        ]
    }

    withName: mergeRows {
        cpus = 1
        container = 'https://depot.galaxyproject.org/singularity/pandas%3A2.2.1'
        publishDir = [
            path: "${params.outdir}/matrix",
            mode: "copy"
        ]
    }
}


singularity {
    enabled = true
    autoMounts = true
}
